# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environment / secrets
.env

# Database + local data (schema is created on startup, ideas are user data)
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# Logs
*.log
logs/

# OS / editor
.DS_Store
.idea/
.vscode/
